<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Security-Policy" content="script-src 'self'">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Advertising Printer Home</title>
    <!-- import jquery lib -->
    <script src="./assets/node_modules/jquery/dist/jquery.js"></script>
    <!-- import semantic ui lib -->
    <script src="./assets/node_modules/semantic-ui/dist/semantic.js"></script>
    <link rel="stylesheet" href="./assets/node_modules/semantic-ui/dist/semantic.css">

    <!-- import text editor -->
    <script src="./assets/node_modules/quill/dist/quill.js"></script>

    <link rel="stylesheet" href="assets/node_modules/quill/dist/quill.core.css">
    <link rel="stylesheet" href="assets/node_modules/quill/dist/quill.snow.css">

</head>

<body>
    <div class="ui vertically divided grid">
        <div class="one column row">
            <div class="column">
                <div class="ui segment inverted">
                    <div class="ui header">Wilcomme to Advertising Printer Program.</div>
                </div>
            </div>
        </div>

        <div class="one column row">
            <div class="column">
                <div class="ui segment">
                    <div class="ui form padded">
                        <div class="ui three fields ">
                            <div class="field">
                                <label for="">Product Title</label>
                                <input type="text" name="" id="">
                            </div>
                            <div class="field">
                                <label for="">Product New Price</label>
                                <div class="ui right labeled input">
                                    <label for="amount" class="ui label">€</label>
                                    <input type="text" placeholder="Amount" id="amount">
                                    <div class="ui basic label">.00</div>
                                </div>
                            </div>
                            <div class="field">
                                <label for="">Product Old Price</label>
                                <div class="ui right labeled input">
                                    <label for="amount" class="ui label">€</label>
                                    <input type="text" placeholder="Amount" id="amount">
                                    <div class="ui basic label">.00</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="one column row">
            <div class="column">
                <!-- Create the toolbar container -->
                <div id="toolbar">
                    <!-- Add font size dropdown -->
                    <select class="ql-size">
                        <option value="small"></option>
                        <!-- Note a missing, thus falsy value, is used to reset to default -->
                        <option selected></option>
                        <option value="large"></option>
                        <option value="huge"></option>
                    </select>
                    <!-- Add a bold button -->
                    <button class="ql-bold"></button>
                    <!-- Add subscript and superscript buttons -->
                    <button class="ql-script" value="sub"></button>
                    <button class="ql-script" value="super"></button>
                </div>

                <!-- Create the editor container -->
                <div id="editor">
                    <p>Hello World!</p>
                </div>
            </div>
        </div>
    </div>
</body>
<!-- import main script -->
<script src="./assets/main.js"></script>

</html>