.ui.form{
    padding: 20px;
}

.enterDataFinished{
float: right;
margin-right: 25px; 
margin-bottom: 25px;;
}
.underInputFieldText{
    color: gray;
    font-size: 12px;
}
.showtampletesBtn{
    position: relative;
    float: right;
}